.welcome {
  height: 150px;
  text-align: center;
  top: 0;
}

.welcome h1 {
  text-decoration: underline;
  font-size: 50px;
  top: 0px;
}


.background {
  background-image: url(../images/chis-bike.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 949px;
  width: auto;
  background-size: 100% 100%;
}